Source: pritunl-client
Section: utils
Priority: optional
Maintainer: Pritunl <contact@pritunl.com>
Build-Depends: debhelper (>= 8.0.0),
               python-all (>= 2.7),
               python-setuptools (>= 0.6b3)
Standards-Version: 3.9.4
Homepage: http://pritunl.com/
X-Python-Version: >= 2.7
#Vcs-Git: https://github.com/pritunl/pritunl-client.git
#Vcs-Browser: https://github.com/pritunl/pritunl-client

Package: pritunl-client
Architecture: all
Depends: python-requests,
         openvpn,
         iptables,
         ${misc:Depends},
         ${python:Depends}
Conflicts: pritunl-client-gtk
Description: Pritunl VPN Client
 Client for the Pritunl VPN server.
