<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Pritunl</vendor>
  <vendor_url>http://pritunl.com/</vendor_url>

  <action id="com.pritunl.client.profile_start">
    <description>Start pritunl connection</description>
    <message>Authentication is required to start a connection</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin_keep</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/pritunl_client_pk</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">start</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="com.pritunl.client.profile_autostart">
    <description>Start pritunl connection</description>
    <message>Authentication is required to start a connection</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/pritunl_client_pk</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">autostart</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="com.pritunl.client.profile_stop">
    <description>Stop pritunl connection</description>
    <message>Authentication is required to stop a connection</message>
    <defaults>
      <allow_any>yes</allow_any>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/pritunl_client_pk</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">stop</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="com.pritunl.client.profile_set_autostart">
    <description>Enable autostart pritunl connection</description>
    <message>Authentication is required to modify a connection</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/pritunl_client_pk</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">set_autostart</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

  <action id="com.pritunl.client.profile_clear_autostart">
    <description>Disable autostart pritunl connection</description>
    <message>Authentication is required to modify a connection</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/pritunl_client_pk</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">clear_autostart</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
