[Desktop Entry]
Name=Pritunl Client
Comment=Pritunl openvpn client
Exec=pritunl-client-gtk
Terminal=false
Type=Application
StartupNotify=false
Icon=pritunl_client
Categories=Network;TrayIcon;
